

button{
    margin: 5px;
}

.active {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    color: rgb(57, 57, 57);
}

.filterButton {
    background-color: #d5d5d5;
    color: rgb(57, 57, 57);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .filterButton:hover {
    background-color: #ffffff;
    color: rgb(57, 57, 57);
  }
  
  .filterButton:active {
    background-color: #cbc7c7;
    color: rgb(57, 57, 57);
  } 
  
  .active:hover {
    background-color: #ffffff;
    color: rgb(57, 57, 57);
  }
  
  .active:active {
    background-color: #cbc7c7;
    color: rgb(57, 57, 57);
  }