.filterList {
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #414141;
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

.filterList h1 {
    font-size: 1.7rem;
    color: #d5d5d5;
}

.button{
    background-color: #ffffff;
    color: rgb(57, 57, 57);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover{
    background-color: #d5d5d5;
    color: rgb(57, 57, 57);
  }
  
  .button:active {
    background-color: #cbc7c7;
    color: rgb(57, 57, 57);
  } 